<div class="container">
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Type</th>
      <th scope="col">Rating</th>
      <th scope="col">Releasedate</th>
      <th scope="col">Episodnumber</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @animes.each do |anime| %>
  
    <tr>
      <td ><%= image_tag("#{anime["image"]}", :style => "max-width: 100px" ) %></td>
      <td><%=anime["title"] %></td>
      <td><%=anime["author"] %></td>
      <td><%=anime["genre"] %></td>
      <td><%=anime["rating"] %></td>
      <td><%=anime["releasedate"] %></td>
      <td><%=anime["episodenumber"] %></td>
      <td><%= link_to "Destroy", destroy_path(id: anime["id"]),method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  
  </tbody>
  </table>

</div>
