<div class="container">
<h1>Sign up</h1>
<%= form_with(url: success_path, method: 'get', local: true) do %>
  <div class="form-group row">
		<%= label_tag :username, 'Username '%>
    <div class="col-sm-10">
			<%= text_field_tag :username, nil, placeholder: 'John', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
		<%= label_tag :password, 'Password'%>
    <div class="col-sm-10">
			<%= password_field_tag :password, nil, placeholder: '', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
		<%= label_tag :password_confirmation, 'Password Confirmation'%>
    <div class="col-sm-10">
			<%= password_field_tag :password_confirmation, nil, placeholder: '', class: 'form-control' %>
    </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
			<%= button_tag 'Sign Up', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
